<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inter"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='done.css') }}">
    <title>Document</title>
  </head>
  <body>
    <div class="wrap">
      {% if error %}
      <h3 class="title">Giao dịch thất bại</h3>
      {% else %}
      <h3 class="title">Giao dịch thành công</h3>
      <div class="wrapInforTransaction">
        <div class="content">
          <p>Số tiền</p>
          <p>{{ amount }} ETH</p>
        </div>
        <div class="content">
          <p>Địa chỉ nhận</p>
          <p id="receiver">{{ receiver }}</p>
        </div>
      </div>
      <!-- {% endif %} -->
      <div class="wrappedBtn">
        <button type="button" class="btn">
          <a href="./payment" class="direct">Giao dịch khác</a>
        </button>

        <button type="button" class="btn">
          <a href="/" class="direct">Trang chủ</a>
        </button>
      </div>
    </div>
  </body>
  <script>
    const textSenderAddress = document.getElementById("receiver").textContent
    console.log(textSenderAddress)
    const formatText = textSenderAddress.slice(0, 4) + "..." + textSenderAddress.slice(-3);
    document.getElementById("receiver").textContent = formatText
  </script>
</html>
