<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='payment.css') }}">
  </head>
  <body>
    <div class="wrap">
      <h3
      class="tittleH3"
       
      >
        Gửi cho
      </h3>
      <a class="returnPage" href="/">Hủy</a>
      <div class="mainETH">
        <div class="online-icon"></div>
        <p class="nameAccount">Ethereum Main NetWork</p>
      </div>
      
      <div class="wrapInput">
        <label for="">From :</label>
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="textDrop">
             <p> Acount 1 </p>
            <p>Số dư: {{ balance }} ETH</p>
            </div>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
      <form action="/verify" method="post">
        <div class="wrapInput">
          <label for="receiver">To:</label>
          <input id="receiver" name="receiver" type="text" class="fill-to fill" placeholder="Tìm kiếm, địa chỉ công khai(0x...) ">
        </div>
        <div class="contentP">
          <p>Chuyển giữa các tài khoản</p>
        </div>
        <div class="wrapInput">
          <label for="amount">Số tiền</label>
          <input id="amount" type="text" name="amount" class="fill" placeholder="ETH">
        </div>
        <input class="btnNext"  type="submit" value="Tiếp">
      </form>
  </body>
  <script>
  </script>
</html>
