<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inter"
    />
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='verify.css') }}">
  </head>
  <body>
    <div class="wrap">
      <div class="header">
        <a class="direct" href="./payment">Quay lại</a>
        <p class="title">XÁC THỰC GIAO DỊCH</p>
        <a class="direct" href="/">Hủy</a>
      </div>
      <form action="/done" method="post">
        <div class="content">
          <div class="label">
            Vui lòng nhập Mật khẩu đăng nhập ứng dụng để xác thực giao dịch
          </div>
          <input
            id="password"
            name="password"
            class="input"
            type="password"
            placeholder="Mật khẩu đăng nhập"
          />
        </div>
        <div class="continue">
          <input class="btn" type="submit" value="Tiếp" />
        </div>
      </form>
    </div>
  </body>
</html>
